div.psn-tooltip {
  visibility: visible;
  width: auto;
  text-align: right;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: 1.0rem;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
	padding: 5px 10px;
}

div.psn-tooltip.bg-black {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

div.psn-tooltip.bg-white {
  background-color: rgba(215, 215, 200, 0.9);
  border-color: rgba(100, 100, 80, 0.9);
  color: #fff;
}

div.psn-tooltip div.section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

div.psn-tooltip div.title {
	padding-right: 0px;
  display: flex;
	align-items: center;
  justify-content: center;
  text-align: center;
}

div.psn-tooltip.bg-black div.title {
  color: rgb(245, 182, 66);
}

div.psn-tooltip.bg-white div.title {
  color: rgb(120, 20, 0);
}

div.psn-tooltip div.label {
	align-items: right;
  justify-content: right;
  text-align: right;
	padding-right: 5px;
}

div.psn-tooltip.bg-black div.label {
  color: rgb(75, 130, 225);
}

div.psn-tooltip.bg-white div.label {
  color: rgb(34, 70, 128);
}

div.psn-tooltip div.value {
  text-align: left;
	align-items: left;
  justify-content: left;
}

div.psn-tooltip.bg-black div.value {
  color: rgb(255, 255, 255);
}

div.psn-tooltip.bg-white div.value {
  color: rgb(26, 12, 5);
}

div.psn-tooltip div.slot-cell {
  position: relative;
  width: 18px;
  height: 18px;
  
  font-size: 0.8rem;
  font-family: "Signika", "Palatino Linotype", serif;
  text-align: center;
}

div.psn-tooltip.bg-white div.slot-cell {
  color: rgb(0, 0, 0, 1.0);
}

div.psn-tooltip.bg-black div.slot-cell {
  color: rgb(255, 255, 255, 1.0);
}

div.psn-tooltip div.slot-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  
  border-radius: 5px;
  
  z-index: -2;
}

div.psn-tooltip.bg-white div.slot-bg {
  background-color: rgb(0, 0, 0, 0.1);
}

div.psn-tooltip.bg-black div.slot-bg {
  background-color: rgb(0, 0, 0, 0.7);
}

div.psn-tooltip div.slot-bar {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0px;
  
  border-radius: 5px;
  z-index: -1;
}

div.psn-tooltip.bg-white div.slot-bar.lowbar {
  background-color: rgb(212, 57, 15, 1.0);
}
div.psn-tooltip.bg-white div.slot-bar.highbar {
  background-color: rgb(105, 196, 35, 1.0);
}

div.psn-tooltip.bg-black div.slot-bar.lowbar {
  background-color: rgb(212, 39, 8, 1.0);
}
div.psn-tooltip.bg-black div.slot-bar.highbar {
  background-color: rgb(21, 158, 151, 1.0);
}

div.psn-tooltip div.spacer {
  width: 10px;
}

div.psn-tooltip div.label i {
	padding-right: 10px;
}

div.psn-tooltip.visible {
  visibility: visible;
}

.message-sender[hoverable]:hover {
  color: rgba(255, 0, 0, 1.0);
}

.targetList {
  padding: 1px 0 0;
  border-top: 2px groove #FFF;
  
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 12px;
  color: #4b4a44;
  
  height: 20px;
  line-height: 15px;
  
  margin: 5px 0 0 0;
}

.targetList span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 3px;
  font-size: 10px;
}

.targetList span:last-child {
  border-right: none;
  padding-right: 0;
}

.targetList span:first-child {
  border-right: none;
  padding-right: 6px;
}

.targetListLabel:hover {
  color: rgba(255, 0, 0, 1.0);
}


.targetToken:hover {
  color: rgba(255, 0, 0, 1.0);
}

div.hiddenMessage {
  display: none;
  visibility: none;
}

div.hiddenTokenId {
  display: none;
  visibility: none;
}


